.html, body {
    padding: 0;
    margin: 0;
}
/** {border: 1px solid deeppink}*/



#keyboard{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .25rem;
    background-color: lightskyblue;
}
#keyboard button {
    min-height: 3rem;
    background: lightblue;
}
#keyboard input {
    grid-column: span 2;
}

#category {
    min-width: 3rem;
    min-height: 3rem;
    padding: .5rem;
    border-radius: 1rem;
    background: cornflowerblue;
    color: white;
}