/*region Global Styles*/


html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 8px
}


/*endregion*/
* {
    /*border: 1px solid rebeccapurple;*/
}

/*region widget-counter*/
.widget-counter-container {
    border: 1px solid black;
    padding: 4px;
    margin-top: 8px;
}

.widget-counter-row {
    display: flex;
}

.widget-counter-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-counter-column.score {
    font-size: 36px;
}

.widget-counter-column img {
    width: 48px;

}

.widget-counter-progress {
    width: 100%;
}

/*endregion*/

/*region widget-make*/

.keyboard-box {
    display: none;
    padding: 0 4px 4px 4px;
    margin-top: 8px;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.keyboard-box .row {
    gap: 4px;
    display: flex;
}

.keyboard-box .row .button, .keyboard-box .row .display {
    background: lightgray;
    min-height: 48px;
    min-width: 48px;
    margin-top: 4px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.keyboard-box .row .display{
    flex: 2;
    background: lightskyblue;
}


/*endregion*/

.chips {
    display: inline-block;
    border: 1px solid black;
    padding: 4px;
    line-height: 30px;
    vertical-align: middle;
    margin: 4px 4px;
    min-width: 40px;
    height: 30px;
}
